<p id="notice"><%= notice %></p>

<h1>Twitter</h1>
<p>Estos son los posts tuyos y los de tus amigos</p>
<% if user_signed_in? %>
    <p align="right">Bienvenido <%= current_user.user_name %></p>
<% end %>

<%= button_to 'Nuevo Tweet', new_tweet_post_path, method: 'get' %>


<table class="table table-striped">
  <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Post</th>
    <th scope="col" >User</th>
    <th scope="col" >Creado</th>
    <th scope="col" align="center">#Likes</th>
    <th scope="col" align="center">#Retweets</th>
    <th scope="col" colspan="3" align="center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% a = 1 %>
    <% @tweet_posts.each do |tweet_post| %>
      <tr>
        <th scope="row"><%=a %></th>
        <td><%= truncate(tweet_post.post, :length =>80) %></td>
        <td align="center"><%= image_tag(tweet_post.user.user_photo_url, style: "max-width: 50px; border-radius: 20px;") %></td>
        
        <td align="left"><%= time_ago_in_words(tweet_post.created_at) %></td>
        <td align="center">333</td>
        <td align="center">2</td>
        <td><%= link_to 'Show', tweet_post %></td>
        <td><%= link_to 'Edit', edit_tweet_post_path(tweet_post) %></td>
        <td><%= link_to 'Destroy', tweet_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% a = a + 1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet Post', new_tweet_post_path %>
